* {
    margin: 0;
    box-sizing: border-box;
    background-image: url(https://www.thetrainline.com/content/vul/hero-images/city/copenhagen/2x.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    max-width: 1140px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.one,
.two,
.tree {
    float: left;
    border: 2px solid black;
    background: white;
    height: 835px;
    margin: auto;
    width: 30%;
}

.href1 {
    text-align: center;
    position: absolute;
    bottom: 0;
}

/* .photo */

.photo {
    width: 100%;
}

#photo1 {
    height: 231px;
}

#photo2 {
    height: 231px;
}

.header {
    margin: 20px 20px;
    background: white;
}

.href {
    background: white;
}

h1 {
    text-shadow: 2px 2px #01031b;
    font-size: 40px;
    margin: 40px auto;
    text-align: center;
    color: aliceblue;
}

.par {
    text-indent: 20px;
    text-align: justify;
    background: white;
    margin: 20px 15px;
}

/* block map */

.map,
.icon {
    background: white;
}

#one1 {
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 23px;
}

#two1 {
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 57px;
}

#tree1 {
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.href {
    background: white;
}

@media (max-width: 950px) {
    .container {
        display: inline-block;
    }

    .one,
    .two {
        width: 50%;
        margin-bottom: 20px;
    }

    .tree {

        width: 100%;
        height: 993px;
    }

    #one1 {
        margin-top: 91px;
    }

    #two1 {
        margin-top: 126px;
    }
}

@media (max-width: 450px) {

    .one,
    .two {
        width: 100%;
        height: auto;
    }

    .tree {
        height: auto;
    }

    #photo1 {
        height: auto;
    }

    #one1 {
        margin-top: 40px;
    }

    #two1 {
        margin-top: 40px;
    }
}
